/***
 *	MU - List Sites and Posts
 *==============================*/

.wp-core-ui #lsap-add { margin-top: 10px }

.cf:before, .cf:after { content: ""; display: table }
.cf:after { clear: both }

.col { display: inline-block; padding-right: 2% }
.col-20 { width: 8%; }
.col-40 { width: 42% }

.disabled { pointer-events: none; opacity: 0.5 }

.lsap_fields {}
	.lsap-field { padding: 10px 0; border-bottom: 1px solid #999 }
	.lsap-field > label { display: block; margin-bottom: 5px }
	.lsap-select { width: 100% }